<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>Fila Circular</title>
    <link rel="stylesheet" href="../public/css/style_fec.css">

    <script type="text/javascript" src="../public/js/fila/images.js"></script>
    <script type="text/javascript" src="../public/js/fila/algo.js"></script>
</head>

<body>

    <div class="header">
        <div class="back-btn">
            <a href="../index.html"><</a>
        </div>
    </div>

    <main>
        <div class="input-view">
                <div id="input-txt">
                    Determine o tamanho do vetor:
                </div>
                <div class="textbox">
                    <input type="text" id="valor" placeholder="4 ~ 8">
                </div>
                <div id="cria">
                    <div class="btn" onclick="criou();">
                        CRIAR
                    </div>
                </div>

            <div id="btn-view" hidden>
                <div class="btn" onclick="btnEnf();">
                    ENFILEIRAR
                </div>

                <div class="btn" onclick="btnDesenf();">
                    DESENFILEIRAR
                </div>
            </div>
        </div>

        <div class="canvas-view">
            <canvas id="fila" width="1100" height="570"></canvas>
        </div>
        

    </main>
    
    <script type="text/javascript" src="../public/js/fila/render.js"></script>
</body>

</html>