<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>LDDE</title>
    <link rel="stylesheet" href="../public/css/style_ldde.css">
</head>

<body>
    <div class="header">
        <div class="back-btn">
            <a href="../index.html"><</a>
        </div>
    </div>

    <main>
        <div class="input-view">
            <div class="input-txt">
                Insira um valor:
            </div>
            <div class="textbox">
                <input type="text" id="valor" placeholder="Ex: 5">
            </div>

            <div class="btn-view">
                <div class="btn" onclick="criaNo();">
                    INSERIR
                </div>

                <div class="btn" onclick="alert('Deletou!');">
                    DELETAR
                </div>

                <div class="btn" onclick="alert('Buscou!');">
                    BUSCAR
                </div>

            </div>
        </div>

        <div class="canvas-view">
            <canvas id="ldde" width="1100" height="619"></canvas>
        </div>
        

    </main>

    <script type="text/javascript" src="../public/js/ldde.js"></script>
</body>

</html>