<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>LDDE</title>
    <link rel="stylesheet" href="../public/css/style_ldde.css">

    <script type="text/javascript" src="../public/js/ldde/images.js"></script>
    <script type="text/javascript" src="../public/js/ldde/algo.js"></script>
</head>

<body>
    
    <div class="header">
        <div class="back-btn">
            <a href="../index.html"><</a>
        </div>
    </div>

    <main>
        <div class="input-view">
            <div class="input-txt">
                Insira um número:
            </div>
            <div class="textbox">
                <input type="text" id="valor" placeholder="Ex: 5">
            </div>

            <div class="btn-view">
                <div class="btn" onclick="guardaNo();">
                    INSERIR
                </div>

                <div class="btn" onclick="removeNo();">
                    DELETAR
                </div>

                <div class="btn" onclick="buscaNo();">
                    BUSCAR
                </div>
            </div>
        </div>

        <div class="canvas-view">
            <canvas id="ldde" width="1100" height="570"></canvas>
        </div>
        

    </main>

    <script type="text/javascript" src="../public/js/ldde/render.js"></script>
</body>

</html>