<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>LDDE</title>
    <link rel="stylesheet" href="../public/css/style_ldde.css">
</head>

<body>
    <div class="header">
        <div class="back-btn">
            <a href="../index.html"><</a>
        </div>
    </div>

    <main>
        <div class="input-view">
            <div class="input-txt">
                Insira um valor:
            </div>
            <div class="textbox">
                <input typer="text" placeholder="Ex: 5">
            </div>

            <div class="btn-view">
                <div class="btn" onclick="alert('Inseriu!');">
                    INSERIR
                </div>

                <div class="btn" onclick="alert('Deletou!');">
                    DELETAR
                </div>

                <div class="btn" onclick="alert('Buscou!');">
                    BUSCAR
                </div>

            </div>
        </div>
        <div>

        </div>
        LDDE

    </main>


</body>

</html>